<!DOCTYPE html>  
<html>
    <head>
{{>header}}

</head>
    <body> 
        {{>navbar}}
 
    <div class="containter-fluid main_header ">
        <div class="row">
           <div class="col-md-10 col-12 mx-auto">

            <div class="main_content">
                <form class="temp_form">
                    <input type="text" id="cityName" placeholder="Enter your city name" autocomplete="off">
                    <input type="submit" value="search" id="submitBtn">

                </form>
            </div>  
            <div class="tempInformation">
                <div class="top_layer">
                    <p id="day">Sunday</p>
                    <p id="today_data">17 Apr</p>
                </div>
                <div class="main_layer ">
                    <p id="city_name">Get Output Here</p>
                    <div class="middle_layer  ">
                        <p id="temp"><span class="temp_real_val">0</span><sup>o</sup>C</p>
                        <p id="temp_status"><i class="fa fa-cloud" aria-hidden="true"></i></p>
                    </div>
                </div> 
            </div>

           </div>
        </div> 
    </div>       

   {{>footer}}
   <script src="js/main.js"></script>
   <script>
       const day = document.getElementById('day');
       const getCurrentDay=()=>{
           let weekday =new Array(7);
           weekdya[0]="Sunday";
           weekdya[1]="Monday";
           weekdya[2]="Tuesday";
           weekdya[3]="Wednesday";
           weekdya[4]="Thursday";
           weekdya[5]="Friday";
           weekdya[6]="Saturday";

           let currentTime = new Date();
           days = weekday[currentTime.getDay()];
           let day = document.getElementById('day');


        day.innerText=days ;
       };
       getCurrentDay();
   </script>
    </body>
</html> 